/* */


.subcribe-button {
    background-color: rgb(208, 4, 4);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.45s;
    margin-left:20px;
    margin-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;

}

.subcribe-button:hover {
    background-color: green;
    /* fade the element */
    opacity: 0.8;
}

.subcribe-button:active {
    background-color: blue;
    opacity: 0.3;
}


.join-button {
    background-color: white;
    border-color: rgb(40, 118, 211);
    border-style: solid;
    border-width: 1px;
    color:rgb(40, 118, 211);
    border-radius: 2px;
    height: 36px;
    width:65px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
    vertical-align: top;
}

.join-button:hover {
    background-color:rgb(40, 118, 211);
    color:white;    

}

.join-button:active {
    opacity: 0.7;
}

.tweet-button {
    background-color: rgb(2, 137, 255);
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:16px;
    padding-right: 16px;

    /* height:36px;
    width: 75px; */
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor:pointer;
    margin-left: 8px; 
    vertical-align: top;
    
    
}

.tweet-button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.10s;
}
 