/* 5c */
/* p {
    font-family: verdana;
    margin-top: 0;
    margin-bottom: 0;
}


.video-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.video-sub-title {
    color:grey;
    font-weight: 16px;
    margin-bottom: 20px;

}
.video-sub-title1 {
    width: 300px;
    margin-bottom: 100px;
} */


/* 5e */

/* p {
    font-family: arial;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.title-1 {
    color: rgb(220, 111, 111);
    margin-bottom: 10px;
}
.title-2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}
.title-3 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;

}
.title-4 {
    margin-bottom: 25px;
}
.buy {
    background-color: rgb(63, 142, 206);
    color: white;
    margin-top: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    cursor: pointer;
} */


/* 5f */

/* p {
    font-family: arial;
    margin-top: 0;
    margin-bottom: 0px;
}

.num-1 {
    font-size: 32px;
    margin-bottom: 8px;
}
.num-currency {
    color: grey;
    font-size: 16px;
}
.num-percentage {
    color: rgb(20, 150, 20);
    font-size: 12px;
    margin-bottom: 8px;
}

.after-hours {
    color:grey;
}

.num-percentage2 {
    color: rgb(221, 69, 69);
} */