    /* 9c */


/* .ask-user {
    font-family: arial;    
}
.div-example {
    
    border: 1px solid rgba(128, 128, 128, 0.478);
    padding-left: 15px;
    padding-bottom: 20px;
    width:300px;
} */

p {
    font-family: arial;
    margin-top: 0;
    margin-bottom: 0;
}
.title {
    font-size: 20px;
    font-weight: bold;
    color:white;
    
}

.sub-title {
    margin-top: 15px;
    width: 350px;
    color: rgb(153, 152, 152);
}

.install-youtube {
    background-color: rgb(34, 32, 32);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    width: 370px;
}